<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Django Blog{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="{% url 'post-list' %}">Home</a></li>
          <li><a href="{% url 'post-list' %}">Blog Posts</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'logout' %}">Logout</a></li>
          {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'register' %}">Register</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>

    <div class="content">{% block content %} {% endblock %}</div>

    <form class="d-flex" method="GET" action="{% url 'blog:search-results' %}">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        name="q"
        value="{{ query }}"
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </body>
</html>
